.github/**
.vscode/**
.vscode-test/**
.vscode-test.mjs
.env*
eslint.config.mjs
mise.toml
pnpm-lock.yaml
pnpm-workspace.yaml
packages/**
src/**
out/test/**
docs/**
**/*.map
**/*.ts
**/tsconfig.json
**/tslint.json
.gitignore
vsc-extension-quickstart.md
*.vsix
